:root {
  --cor-0: #ffffff;
  --cor-1: #DBDEF1;
  --cor-3: #dedede;
  --cor-4: #c4c4c4;
  --cor-5: #e5e5e5;
  --cor-6: #55328c;
  --cor-7: #804dc7;
  --cor-8: #7144b3;
  --cor-9: #603c98;
  --cor-10: #393858;
  --cor-11: #6a40a9;
  --cor-12: #1d0d36;
  --cor-13: #d94e96;
  --cor-14: #1d255b;
  --cor-15: #e1aa1b;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-9);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  background-color: var(--cor-12);
}
.cor-13 {
  color: var(--cor-13);
}
.cor-p2 {
  color: var(--cor-14);
}
.cor-p3 {
  color: var(--cor-15);
}
