.footer-bg {
  background-color: var(--cor-5);
}

.footer {
  display: inline-block;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--cor-10);
}


.footer-contato ul {
  gap: 4px;
}

.footer-endereco::before {
  content: "";
  display: block;
  width: 1200px;
height: 0px;
left: 51px;
top: 2277px;
border: 2px solid var(--cor-1);
  background-color: var(--cor-1);
  justify-items: center;
  margin-top: 54px;
margin-bottom: 46px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-informacoes {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0px;
  }
}
